@mixin black-prints {
  * {
    border-color: currentColor !important;
    box-shadow: none !important;
    color: black !important;
    background: transparent !important;
    text-shadow: none !important;
  }
}
