@mixin ir-text-indent {
  direction: ltr;
  text-indent: -9999px;
}

@mixin ir-font-size {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

@mixin ir-pseudo-element {
  overflow: hidden;

  &:before {
    display: block;
    width: 100%;
    height: 100%;
    content: "\00a0";
  }
}
