$lego-white: rgb(255, 255, 255);
$lego-brick-yellow: rgb(217, 187, 123);
$lego-nougat: rgb(214, 114, 64);
$lego-bright-red: rgb(222, 0, 13);
$lego-bright-blue: rgb(0, 87, 168);
$lego-bright-yellow: rgb(254, 196, 0);
$lego-black: rgb(1, 1, 1);
$lego-dark-green: rgb(0, 123, 40);
$lego-bright-green: rgb(0, 150, 36);
$lego-dark-orange: rgb(168, 61, 21);
$lego-medium-blue: rgb(71, 140, 198);
$lego-bright-orange: rgb(231, 99, 24);
$lego-bright-yellowish-green: rgb(149, 185, 11);
$lego-bright-reddish-violet: rgb(156, 0, 107);
$lego-sand-blue: rgb(94, 116, 140);
$lego-sand-yellow: rgb(141, 116, 82);
$lego-earth-blue: rgb(0, 37, 65);
$lego-earth-green: rgb(0, 52, 22);
$lego-sand-green: rgb(95, 130, 101);
$lego-dark-red: rgb(128, 8, 27);
$lego-flame-yellowish-orange: rgb(244, 155, 0);
$lego-reddish-brown: rgb(91, 28, 12);
$lego-medium-stone-grey: rgb(156, 146, 145);
$lego-dark-stone-grey: rgb(76, 81, 86);
$lego-light-stone-grey: rgb(228, 228, 218);
$lego-light-royal-blue: rgb(135, 192, 234);
$lego-bright-purple: rgb(222, 55, 139);
$lego-light-purple: rgb(238, 157, 195);
$lego-cool-yellow: rgb(255, 255, 153);
$lego-medium-lilac: rgb(44, 21, 119);
$lego-light-nougat: rgb(245, 193, 137);
$lego-dark-brown: rgb(48, 15, 6);
$lego-medium-nougat: rgb(170, 125, 85);
$lego-olive-green: rgb(85, 107, 47);
$lego-medium-yellowish-green: rgb(150, 185, 59);
