@import 'normalize';

// Default variables
$dark:       #000 !default;
$light:      #fff !default;
$link:       #00f !default;
$stress:     #f00 !default;
$font-size:  16px !default;
$sans-serif: 'Helvetica', 'Arial', sans-serif !default;
$monospace:  'Menlo', 'Andale Mono', monospace !default;


// Sections
body {
  background-color: $light;
  color: $dark;
  font: #{$font-size}/1.75 $sans-serif;
  margin: ($font-size * 2) $font-size;

  @media (min-width: ($font-size * 28)) {
    margin: ($font-size * 2);
  }

  @media (min-width: ($font-size * 52)) {
    margin-top: ($font-size * 4);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: ($font-size * 2) 0 0;
}


// Grouping content
p {
  margin: ($font-size * 2) 0 0;
}

hr {
  border-bottom: 3px double darken($light, 30%);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 0;
  margin: ($font-size * 2) auto 0;
  width: 50%;
}

pre {
  background-color: darken($light, 3%);
  font: #{($font-size * .875)}/1.25 $monospace;
  margin: ($font-size * 2) 0 0;
  padding: $font-size;
}

blockquote {
  margin: ($font-size * 2) 0 0 ($font-size * 2.5);
}

ol,
ul {
  margin: ($font-size * 2) 0 0;
  padding-left: ($font-size * 2.5);

  ol,
  ul {
    margin-top: 0;
  }
}

dl {
  margin: ($font-size * 2) 0 0;

  dd {
    margin-left: ($font-size * 2.5);
  }

  dl {
    margin: 0;
  }
}


// Text-level semantics
a {
  color: $link;
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  color: $stress;
  font-weight: bold;
}

q:before {
  content: '\201C\0020';
}

q:after {
  content: '\0020\201D';
}

abbr,
acronym {
  border-bottom: 1px dotted $dark;
  cursor: help;
}

code,
var,
samp {
  font-family: $monospace;
}


// Edits
ins {
  border-bottom: 3px double lighten($dark, 15%);
  text-decoration: none;
}

del {
  text-decoration: line-through;
}


// Embedded content
@import 'vendor-extension';

img {
  @include box-sizing(border-box);

  height: auto;
  max-width: 100%;
}


// Tabular data
table {
  margin: ($font-size * 2) 0 0;

  th {
    background-color: darken($light, 15%);
    border: 1px solid darken($light, 45%);
    color: $dark;
    font-weight: bold;
    padding: ($font-size / 2);
    text-align: left;
  }

  td {
    background-color: darken($light, 3%);
    border: 1px solid darken($light, 45%);
    color: $dark;
    padding: ($font-size / 2);
  }
}


// For printing
@media print {
  * {
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }
}
