@charset "UTF-8";

@import "reset";
@import "natural";

@import "speech-bubble";

.speech-bubble {
  @include speech-bubble(#9cf, 6px, 12px, 24px);

  padding: 1em;
  width: 360px;
  color: #000;
}

.bordered-speech-bubble {
  @include bordered-speech-bubble(#9cf, #369, 4px, 8px, 16px, 24px);

  padding: 1em;
  width: 360px;
  color: #000;
}

@import "utils";

.fake-aa {
  @include fake-aa;

  font-family: "MS PMincho", serif;
  font-size: 24px;
}
