@charset "UTF-8";

@import "natural";


@import "speech-bubble";

.speech-bubble {
  @include speech-bubble(#9cf, 6px, 12px, 24px);

  padding: 1em;
  width: 360px;
  color: #000;
}

.bordered-speech-bubble {
  @include bordered-speech-bubble(#9cf, #369, 4px, 8px, 16px, 24px);

  padding: 1em;
  width: 360px;
  color: #000;
}


@import "utils";

.fake-aa {
  @include fake-aa;

  font-family: "MS PMincho", serif;
  font-size: 24px;
}


@import "grid-overlay";

body {
  @include grid-overlay(60px, 20px);

  margin-right: auto;
  margin-left: auto;
  width: 940px;
}


@import "ellegant-button";

.ellegant-button {
  @include ellegant-button(#39c, #fff);
}
