@charset "UTF-8";

@import "natural";


@import "speech-bubble";

.speech-bubble {
  @include speech-bubble(#9cf, 6px, 12px, 24px);

  padding: 1em;
  width: 360px;
  color: #000;
}

.bordered-speech-bubble {
  @include bordered-speech-bubble(#9cf, #369, 4px, 8px, 16px, 24px);

  padding: 1em;
  width: 360px;
  color: #000;
}


@import "fake-aa";

.fake-aa {
  @include fake-aa;

  font-family: "MS PMincho", serif;
  font-size: 24px;
}


@import "grid-overlay";

body {
  @include grid-overlay(60px, 20px);

  margin-right: auto;
  margin-left: auto;
  width: 940px;
}


@import "ellegant-button";

.ellegant-button {
  @include ellegant-button(#39c, #fff);
}


@import "image-replacement";

.ir {
  @include ir-text-indent;

  width: 72px;
  height: 72px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIBAMAAACnw650AAAAG1BMVEUcUmM0XWtMaXNQeIZViJluobKIu8yRvcyawMxcMAPzAAAAMUlEQVRIx2NkQALGONhMDESAUUWjikYVEauIRRCJg4s9Gk6jikYVjea7UUWjioa4IgA4ZwFgOzaDqAAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
